.header {
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 10;

    transition: 300ms;
}

.h100 {
    height: 100vh;
    width: 100%;
}

.header__element_left-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    color: var(--header-text-color);
    font-size: calc(20px + 1vw);
    font-family: 'Roboto';
}

.header__wrapper {
    display: flex;
    justify-content: space-around;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
}

.header__nav-item {
    position: relative;
    font-size: 15px;
    color: var(--header-text-color);
    text-decoration: none;
    font-family: var(--title-font);
    /* text-transform: uppercase; */

    &::before {
        content: '';
        position: absolute;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: var(--goden-color);

        transition: 450ms ease-out;
    }

    &:hover {

        &::before {
            width: 100%;
        }

    }
}

.header__nav-item_active {
    color: var(--goden-color);
    
    &::before {
        width: 100%;
    }
} 

.header_fixed {
    top: 0;
    background: var(--header-fixed-bcolor) !important;
    box-shadow: 0 0 5px 3px;
}

.header__navigation_active {
    display: flex !important;
    position: absolute;
    top: 70px;
    flex-direction: column;
    background: #262626;
    max-width: 250px;
    left: 0;
    height: 100vw;
    justify-content: flex-start;

    .header__nav-item {
        position: relative;

        &::before {
            content: '';
            position: relative;
            width: 25px;
            height: 25px;
            background: url(/imgs/icons/icons8-multiply-25.png);
        }
    }


}

.header__burger-menu {
    display: none;
    position: absolute;
    width: 27px;
    height: 27px;
    top: 23px;
    right: calc(100% - 75px);
    
    .top-line, .middle-line, .bottom-line {
        position: relative;
    }
    .top-line {
        top: 0;
    }
    .middle-line {
        top: calc(50% - 2px);
    }
    .bottom-line {
        top: calc(100% - 2px);
    }
    .top-line::after, .middle-line::after, .bottom-line::after {
        content: '';
        position: absolute;
        width: 27px;
        height: 2px;
        background-color: #FFF;

        transition: all 200ms ease;
    }
}

.header__burger-menu:hover {
    cursor: pointer;
}
.header__burger-menu:hover .top-line::after {
    transform: translateY(12.5px) rotate(45deg);
}
.header__burger-menu:hover .middle-line::after {
    opacity: 0;
}
.header__burger-menu:hover .bottom-line::after {
    transform: translateY(-12.5px) rotate(-45deg);
}

.header__burger-menu:hover .mobile-nav-menu {
        width: 238px !important;
}


@media (max-width: 900px) {
    .header {
        display: flex;
        justify-content: center;
        top: 0;
        height: 70px;
        background: rgba(24,25,27,.5);

        .header__navigation {
            display: none;
        }
    }
    .header__wrapper {
        justify-content: center;
    }
    .header__burger-menu {
        display: flex;
    }
}