:root {
    --primary-text-color: black;
    --goden-color: #caa243; 
    /* --goden-color: #fbbc26;  */
    --darkness-color: #18191b;
    --white-color: #FFF;
    --title-font: 'Roboto';
    --text-font: 'Bookman';
    --title-block-color: #FFF;
    --light-text-color: #DDD;
    // Header
    --header-text-color: #FFF;
    --header-fixed-bcolor: #18191b;
    // Preview Page
    --pp-text-color: #FFF;

    --main-block-width: 1140px;
    --default-padding: 15px;
}